# Технологии искусственного интеллекта. Семестр 1

© Петров М.В., старший преподаватель кафедры суперкомпьютеров и общей информатики, Самарский университет

План:
1. Библиотека Pandas
2. Библиотеки визуализации данных
3. Классификация в scikit-learn (бинарная, многоклассовая)
4. Деревья решений (библиотека scikit-learn)
5. Линейная регрессия в scikit-learn
6. Библиотека CatBoost (классификация, регрессия)
7. Кластеризация
8. Анализ текстов

## Лекция 1. Библиотека Pandas

### Содержание

1. [Введение](#1.1-Введение)
2. [Pandas](#1.2-Pandas)
3. [Предобработка данных](#1.3-Предобработка-данных)

### 1.1 Введение

Что потребуется:
- [Python 3](https://www.python.org/)
- Библиотеки:
  - [NumPy](https://numpy.org/)
  - [SciPy](https://scipy.org/)
  - [Pandas](https://pandas.pydata.org/)
  - [Matplotlib](https://matplotlib.org/)
  - [Plotly](https://plotly.com/python/)
  - [Scikit-learn](https://scikit-learn.org/stable/)
  - [CatBoost](https://catboost.ai/)
  - [Jupyter Notebook или JupyterLab](https://jupyter.org/)

#### Python

`Python` – объектно-ориентированный язык программирования с динамической типизацией.

<div align="center">
  <img src="images/Python_logo_and_wordmark.svg" width="400" title="Python logo"/>
</div>

- [Установка](https://www.python.org/downloads/)
- [Документация](https://docs.python.org/3/library/index.html)
- [Туториал (официальный)](https://docs.python.org/3/tutorial/)

Туториалы:
- [Real Python Tutorials](https://realpython.com/)
- [Python Tutorial @ W3Schools](https://www.w3schools.com/python/)
- [Питонтьютор](https://pythontutor.ru/)
- …
- [StackOverflow](https://stackoverflow.com/questions/tagged/python) :)

<div align="center">
  <img src="images/l1_1.png" width="1000" title="Активные релизы Python"/>
  <p style="text-align: center">
    Рисунок 1 - Активные релизы Python
  </p>
</div>

<div align="center">
  <img src="images/l1_2.png" width="1000" title="Релизы Python определенной версии"/>
  <p style="text-align: center">
    Рисунок 2 - Релизы Python определенной версии
  </p>
</div>

`PyPI` – `Python Package Index` – репозиторий «пакетов» (библиотек), написанных с использованием Python (https://pypi.org/).

<div align="center">
  <img src="images/l1_3.png" width="1000" title="PyPI"/>
  <p style="text-align: center">
    Рисунок 3 - PyPI
  </p>
</div>

`pip` – система управления пакетами, которая используется для установки и управления программными пакетами.

<div align="center">
  <img src="images/l1_4.png" width="1000" title="Описание NumPy в PyPI"/>
  <p style="text-align: center">
    Рисунок 4 - Описание NumPy в PyPI
  </p>
</div>

Установка `NumPy` в Linux:

```bash
pip3 install -U numpy
```

Установка `NumPy` в Windows:

```commandline
pip install -U numpy
```

<div align="center">
  <img src="images/l1_5.png" width="1000" title="Установка пакетов"/>
  <p style="text-align: center">
    Рисунок 5 - Установка пакетов
  </p>
</div>

#### JupyterLab

[Установка](https://jupyter.org/install) JupyterLab:

```commandline
pip install -U jupyterlab
```

<div align="center">
  <img src="images/l1_6.png" width="1000" title="JupyterLab"/>
  <p style="text-align: center">
    Рисунок 6 - JupyterLab
  </p>
</div>

Отдельная IDE - [JupyterLab Desktop](https://github.com/jupyterlab/jupyterlab-desktop/releases).

<div align="center">
  <img src="images/l1_7.png" width="1000" title="JupyterLab Desktop"/>
  <p style="text-align: center">
    Рисунок 7 - JupyterLab Desktop
  </p>
</div>

#### NumPy

NumPy – Numerical Python – библиотека для работы с многомерными массивами.

<div align="center">
  <img src="images/NumPy_logo_2020.svg" width="400" title="NumPy"/>
</div>

- [Документация](https://numpy.org/doc/stable/)
- [API](https://numpy.org/doc/stable/reference/index.html)

[Примеры работы с numpy](numpy_examples.ipynb)

#### SciPy

`SciPy` – библиотека, предназначенная для выполнения научных и инженерных расчётов.

<div align="center">
  <img src="images/SciPy_logo.svg" width="200" title="SciPy"/>
</div>

Ключевые особенности:
- Использует типы данных и функции NumPy
- Модуль `sparse` – работа с разреженными матрицами (плюс линейная алгебра для "sparse" данных)
- Модуль `optimize`– методы оптимизации (поиск минимумов и максимумов функций)
- Модуль `ndimage` – обработка изображений
- Модуль `fft` – БПФ
- Модуль `integrate` – вычисление интегралов
- И т.д.

### 1.2 Pandas
`pandas` — это высокоуровневая Python библиотека для работы с табличными данными.

Гайды:
- [pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html)
- [pandas API reference](https://pandas.pydata.org/docs/reference/index.html)
- [Открытый курс машинного обучения. Тема 1. Первичный анализ данных с Pandas](https://habr.com/company/ods/blog/322626/)

In [1]:
import pandas as pd

In [2]:
from pathlib import Path
# путь к папке с данными
data_path = "data"
# Чтение данных из csv-файла
# датасет: Goodreads Books - 31 Features: https://www.kaggle.com/datasets/austinreese/goodreads-books
data = pd.read_csv(Path(data_path, 'goodreads_books.csv'))
type(data)

pandas.core.frame.DataFrame

> [DataFrame](https://pandas.pydata.org/docs/reference/frame.html) - Two-dimensional, size-mutable, potentially heterogeneous tabular data

In [3]:
# возвращает первые n строк, n=5 по-умолчанию
data.head()

,id,title,link,series,cover_link,author,author_link,rating_count,review_count,average_rating,...,isbn13,asin,settings,characters,awards,amazon_redirect_link,worldcat_redirect_link,recommended_books,books_in_series,description
0,630104,Inner Circle,https://www.goodreads.com//book/show/630104.In...,(Private #5),https://i.gr-assets.com/images/S/compressed.ph...,"Kate Brian, Julian Peploe",https://www.goodreads.com/author/show/94091.Ka...,7597,196,4.03,...,9781416950417,NaN,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"726458, 726458, 1537534, 3047848, 1651302, 304...","381489, 381501, 352428, 630103, 1783281, 17832...",Reed Brennan arrived at Easton Academy expecti...
1,9487,A Time to Embrace,https://www.goodreads.com//book/show/9487.A_Ti...,(Timeless Love #2),https://i.gr-assets.com/images/S/compressed.ph...,Karen Kingsbury,https://www.goodreads.com/author/show/3159984....,4179,177,4.35,...,9781595542328,NaN,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"127352, 127352, 40642197, 127353, 127354, 3891...",115036,"Ideje az Ã¶lelÃ©snek TÃ¶rtÃ©net a remÃ©nyrÅl,..."
2,6050894,Take Two,https://www.goodreads.com//book/show/6050894-t...,(Above the Line #2),https://i.gr-assets.com/images/S/compressed.ph...,Karen Kingsbury,https://www.goodreads.com/author/show/3159984....,6288,218,4.23,...,NaN,NaN,"Bloomington, Indiana(United States)",NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"706250, 706250, 666481, 11942636, 706241, 1273...","4010795, 40792877, 7306261",Filmmakers Chase Ryan and Keith Ellison have c...
3,39030,Reliquary,https://www.goodreads.com//book/show/39030.Rel...,(Pendergast #2),https://i.gr-assets.com/images/S/compressed.ph...,"Douglas Preston, Lincoln Child",https://www.goodreads.com/author/show/12577.Do...,38382,1424,4.01,...,9780765354952,NaN,"New York State(United States) New York City, N...","Aloysius X.L. Pendergast, Margo Green, William...",NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"39026, 39026, 11007668, 3986318, 51887330, 194...","67035, 39031, 39033, 136637, 136638, 30068, 39...",NaN
4,998,The Millionaire Next Door: The Surprising Secr...,https://www.goodreads.com//book/show/998.The_M...,NaN,https://i.gr-assets.com/images/S/compressed.ph...,"Thomas J. Stanley, William D. Danko",https://www.goodreads.com/author/show/659.Thom...,72168,3217,4.04,...,9780671015206,NaN,NaN,NaN,Independent Publisher Book Award (IPPY) Nomine...,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"1052, 1052, 763362, 69571, 78427, 30186948, 10...",NaN,The incredible national bestseller that is cha...

[Pandas options and settings](https://pandas.pydata.org/pandas-docs/stable/reference/options.html):  
- `display.max_columnsint`  
    If max_cols is exceeded, switch to truncate view. Depending on large_repr, objects are either centrally truncated or printed as a summary view. ‘None’ value means unlimited.  
    In case python/IPython is running in a terminal and large_repr equals ‘truncate’ this can be set to 0 or None and pandas will auto-detect the width of the terminal and print a truncated object which fits the screen width. The IPython notebook, IPython qtconsole, or IDLE do not run in a terminal and hence it is not possible to do correct auto-detection and defaults to 20.

In [4]:
# set the max columns to none
pd.set_option('display.max_columns', None)

In [5]:
data.head()

,id,title,link,series,cover_link,author,author_link,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,two_star_ratings,one_star_ratings,number_of_pages,date_published,publisher,original_title,genre_and_votes,isbn,isbn13,asin,settings,characters,awards,amazon_redirect_link,worldcat_redirect_link,recommended_books,books_in_series,description
0,630104,Inner Circle,https://www.goodreads.com//book/show/630104.In...,(Private #5),https://i.gr-assets.com/images/S/compressed.ph...,"Kate Brian, Julian Peploe",https://www.goodreads.com/author/show/94091.Ka...,7597,196,4.03,3045,2323,1748,389,92,220.0,January 1st 2007,Simon Schuster Books for Young Readers,Inner Circle,"Young Adult 161, Mystery 45, Romance 32",1416950419,9781416950417,NaN,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"726458, 726458, 1537534, 3047848, 1651302, 304...","381489, 381501, 352428, 630103, 1783281, 17832...",Reed Brennan arrived at Easton Academy expecti...
1,9487,A Time to Embrace,https://www.goodreads.com//book/show/9487.A_Ti...,(Timeless Love #2),https://i.gr-assets.com/images/S/compressed.ph...,Karen Kingsbury,https://www.goodreads.com/author/show/3159984....,4179,177,4.35,2255,1290,518,93,23,400.0,October 29th 2006,Thomas Nelson,NaN,"Christian Fiction 114, Christian 45, Fiction 3...",1595542329,9781595542328,NaN,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"127352, 127352, 40642197, 127353, 127354, 3891...",115036,"Ideje az Ã¶lelÃ©snek TÃ¶rtÃ©net a remÃ©nyrÅl,..."
2,6050894,Take Two,https://www.goodreads.com//book/show/6050894-t...,(Above the Line #2),https://i.gr-assets.com/images/S/compressed.ph...,Karen Kingsbury,https://www.goodreads.com/author/show/3159984....,6288,218,4.23,3000,2020,1041,183,44,320.0,January 1st 2009,Zondervan,Take Two,"Christian Fiction 174, Christian 81, Fiction 58",NaN,NaN,NaN,"Bloomington, Indiana(United States)",NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"706250, 706250, 666481, 11942636, 706241, 1273...","4010795, 40792877, 7306261",Filmmakers Chase Ryan and Keith Ellison have c...
3,39030,Reliquary,https://www.goodreads.com//book/show/39030.Rel...,(Pendergast #2),https://i.gr-assets.com/images/S/compressed.ph...,"Douglas Preston, Lincoln Child",https://www.goodreads.com/author/show/12577.Do...,38382,1424,4.01,12711,15407,8511,1429,324,464.0,1997,Tor Books,Reliquary,"Thriller 626, Mystery 493, Horror 432, Fiction...",0765354950,9780765354952,NaN,"New York State(United States) New York City, N...","Aloysius X.L. Pendergast, Margo Green, William...",NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"39026, 39026, 11007668, 3986318, 51887330, 194...","67035, 39031, 39033, 136637, 136638, 30068, 39...",NaN
4,998,The Millionaire Next Door: The Surprising Secr...,https://www.goodreads.com//book/show/998.The_M...,NaN,https://i.gr-assets.com/images/S/compressed.ph...,"Thomas J. Stanley, William D. Danko",https://www.goodreads.com/author/show/659.Thom...,72168,3217,4.04,27594,25219,14855,3414,1086,258.0,October 28th 1995,Gallery Books,The Millionaire Next Door: The Surprising Secr...,"Economics-Finance 1162, Nonfiction 910, Busine...",0671015206,9780671015206,NaN,NaN,NaN,Independent Publisher Book Award (IPPY) Nomine...,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"1052, 1052, 763362, 69571, 78427, 30186948, 10...",NaN,The incredible national bestseller that is cha...

In [6]:
data.shape

(52199, 31)

In [7]:
# информация о данных в DataFrame, тип данных признаков
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52199 entries, 0 to 52198
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      52199 non-null  int64
 1   title                   52199 non-null  object
 2   link                    52199 non-null  object
 3   series                  23319 non-null  object
 4   cover_link              51592 non-null  object
 5   author                  52199 non-null  object
 6   author_link             52199 non-null  object
 7   rating_count            52199 non-null  int64
 8   review_count            52199 non-null  int64
 9   average_rating          52199 non-null  float64
 10  five_star_ratings       52199 non-null  int64
 11  four_star_ratings       52199 non-null  int64
 12  three_star_ratings      52199 non-null  int64
 13  two_star_ratings        52199 non-null  int64
 14  one_star_ratings        52199 non-null  int64
 15  number_of_pages         49869 non-null  float64
 16  date_published          51339 non-null  object
 17  publisher               48563 non-null  object
 18  original_title          39250 non-null  object
 19  genre_and_votes         49359 non-null  object
 20  isbn                    40316 non-null  object
 21  isbn13                  39507 non-null  object
 22  asin                    5236 non-null   object
 23  settings                11515 non-null  object
 24  characters              13695 non-null  object
 25  awards                  10626 non-null  object
 26  amazon_redirect_link    52199 non-null  object
 27  worldcat_redirect_link  48214 non-null  object
 28  recommended_books       48205 non-null  object
 29  books_in_series         22078 non-null  object
 30  description             49624 non-null  object
dtypes: float64(2), int64(8), object(21)
memory usage: 12.3+ MB

In [8]:
# статистика по числовым признакам
data.describe()

,id,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,two_star_ratings,one_star_ratings,number_of_pages
count,5.219900e+04,5.219900e+04,52199.000000,52199.000000,5.219900e+04,5.219900e+04,52199.000000,52199.000000,52199.000000,49869.000000
mean,1.015443e+07,1.887361e+04,1012.980881,4.020610,7.817176e+03,6.250785e+03,3456.512424,935.496600,413.640051,328.942730
std,1.164443e+07,1.163978e+05,4054.802421,0.367161,5.876373e+04,3.473533e+04,18249.298631,5890.077215,3843.356500,252.790119
min,1.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,3.628190e+05,3.400000e+02,31.000000,3.820000,1.170000e+02,1.090000e+02,63.000000,15.000000,6.000000,210.000000
50%,6.383537e+06,2.295000e+03,163.000000,4.030000,8.100000e+02,7.650000e+02,452.000000,107.000000,36.000000,304.000000
75%,1.738060e+07,9.297500e+03,622.000000,4.230000,3.375500e+03,3.190500e+03,1866.000000,450.000000,151.000000,392.000000
max,5.444299e+07,6.801077e+06,169511.000000,5.000000,4.414877e+06,1.868421e+06,980183.000000,529060.000000,537793.000000,14777.000000

In [9]:
data.drop(columns=['settings', 'amazon_redirect_link', 'worldcat_redirect_link', 
                   'recommended_books', 'books_in_series', 'description', 'asin',
                   'link', 'author_link', 'cover_link','original_title'], inplace=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52199 entries, 0 to 52198
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  52199 non-null  int64
 1   title               52199 non-null  object
 2   series              23319 non-null  object
 3   author              52199 non-null  object
 4   rating_count        52199 non-null  int64
 5   review_count        52199 non-null  int64
 6   average_rating      52199 non-null  float64
 7   five_star_ratings   52199 non-null  int64
 8   four_star_ratings   52199 non-null  int64
 9   three_star_ratings  52199 non-null  int64
 10  two_star_ratings    52199 non-null  int64
 11  one_star_ratings    52199 non-null  int64
 12  number_of_pages     49869 non-null  float64
 13  date_published      51339 non-null  object
 14  publisher           48563 non-null  object
 15  genre_and_votes     49359 non-null  object
 16  isbn                40316 non-null  object
 17  isbn13              39507 non-null  object
 18  characters          13695 non-null  object
 19  awards              10626 non-null  object
dtypes: float64(2), int64(8), object(10)
memory usage: 8.0+ MB

In [11]:
data.describe()

,id,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,two_star_ratings,one_star_ratings,number_of_pages
count,5.219900e+04,5.219900e+04,52199.000000,52199.000000,5.219900e+04,5.219900e+04,52199.000000,52199.000000,52199.000000,49869.000000
mean,1.015443e+07,1.887361e+04,1012.980881,4.020610,7.817176e+03,6.250785e+03,3456.512424,935.496600,413.640051,328.942730
std,1.164443e+07,1.163978e+05,4054.802421,0.367161,5.876373e+04,3.473533e+04,18249.298631,5890.077215,3843.356500,252.790119
min,1.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,3.628190e+05,3.400000e+02,31.000000,3.820000,1.170000e+02,1.090000e+02,63.000000,15.000000,6.000000,210.000000
50%,6.383537e+06,2.295000e+03,163.000000,4.030000,8.100000e+02,7.650000e+02,452.000000,107.000000,36.000000,304.000000
75%,1.738060e+07,9.297500e+03,622.000000,4.230000,3.375500e+03,3.190500e+03,1866.000000,450.000000,151.000000,392.000000
max,5.444299e+07,6.801077e+06,169511.000000,5.000000,4.414877e+06,1.868421e+06,980183.000000,529060.000000,537793.000000,14777.000000

In [12]:
data['title']

0                                             Inner Circle
1                                        A Time to Embrace
2                                                 Take Two
3                                                Reliquary
4        The Millionaire Next Door: The Surprising Secr...
                               ...
52194                               The Stranger I Married
52195       The Opposite of Loneliness: Essays and Stories
52196                                    Sadako will leben
52197                                          Confessions
52198                        Going Rogue: An American Life
Name: title, Length: 52199, dtype: object

In [13]:
type(data['title'])

pandas.core.series.Series

> [Series](https://pandas.pydata.org/docs/reference/series.html) - One-dimensional ndarray with axis labels (including time series).

In [14]:
data['title'].head(3)

0         Inner Circle
1    A Time to Embrace
2             Take Two
Name: title, dtype: object

#### Индексация

In [15]:
# срез с указанием признаков
data.loc[200:204, ['title', 'five_star_ratings']]

                                                 title  five_star_ratings
200                                    This is Falling               3923
201                             When My Name Was Keoko               1955
202  Farewell to Manzanar: A True Story of Japanese...               2379
203                                        Kissing Sin               6263
204                                          Havemercy                670

In [16]:
# срез numpy-like
data.iloc[200:204, 0:3]

,id,title,series
200,22756190,This is Falling,(Falling #1)
201,613218,When My Name Was Keoko,NaN
202,649361,Farewell to Manzanar: A True Story of Japanese...,NaN
203,74043,Kissing Sin,(Riley Jenson Guardian #2)

In [17]:
data['five_star_ratings'] > 2500

0         True
1        False
2         True
3         True
4         True
         ...
52194     True
52195     True
52196    False
52197     True
52198    False
Name: five_star_ratings, Length: 52199, dtype: bool

In [18]:
data[data['five_star_ratings'] > 2500]

,id,title,series,author,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,two_star_ratings,one_star_ratings,number_of_pages,date_published,publisher,genre_and_votes,isbn,isbn13,characters,awards
0,630104,Inner Circle,(Private #5),"Kate Brian, Julian Peploe",7597,196,4.03,3045,2323,1748,389,92,220.0,January 1st 2007,Simon Schuster Books for Young Readers,"Young Adult 161, Mystery 45, Romance 32",1416950419,9781416950417,NaN,NaN
2,6050894,Take Two,(Above the Line #2),Karen Kingsbury,6288,218,4.23,3000,2020,1041,183,44,320.0,January 1st 2009,Zondervan,"Christian Fiction 174, Christian 81, Fiction 58",NaN,NaN,NaN,NaN
3,39030,Reliquary,(Pendergast #2),"Douglas Preston, Lincoln Child",38382,1424,4.01,12711,15407,8511,1429,324,464.0,1997,Tor Books,"Thriller 626, Mystery 493, Horror 432, Fiction...",0765354950,9780765354952,"Aloysius X.L. Pendergast, Margo Green, William...",NaN
4,998,The Millionaire Next Door: The Surprising Secr...,NaN,"Thomas J. Stanley, William D. Danko",72168,3217,4.04,27594,25219,14855,3414,1086,258.0,October 28th 1995,Gallery Books,"Economics-Finance 1162, Nonfiction 910, Busine...",0671015206,9780671015206,NaN,Independent Publisher Book Award (IPPY) Nomine...
5,311164,Black Sheep,NaN,Georgette Heyer,9538,775,4.05,3298,3831,2042,304,63,252.0,March 1st 1966,Arrow,"Romance 550, Historical-Historical Fiction 316...",0099468034,9780099468035,"Abigail Wendover, Miles Calverleigh",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52192,15727731,Beauty Awakened,(Angels of the Dark #2),Gena Showalter,11894,793,4.15,5227,4031,2032,453,151,447.0,February 26th 2013,HQN Books,"Romance-Paranormal Romance 405, Fantasy-Parano...",0373777434,9780373777433,"Koldo, Nicola Lane",NaN
52193,1395807,Blue Heaven,NaN,C.J. Box,11284,1096,4.01,3656,4752,2346,423,107,352.0,2007,Minotaur Books,"Mystery 198, Fiction 110, Thriller 96, Suspens...",0312365705,9780312365707,"Monica Taylor, Annie Taylor, Fiona Pritzle, To...",Edgar Award for Best Novel (2009)
52194,15743072,The Stranger I Married,NaN,Sylvia Day,13295,805,3.87,4220,4733,3116,848,378,312.0,2007,Kensington Trade,"Romance-Historical Romance 335, Romance 312, H...",075829039X,9780758290397,"Gerard Faulkner, Isabel Pelham",NaN
52195,18143905,The Opposite of Loneliness: Essays and Stories,NaN,Marina Keegan,42609,4282,3.84,12461,15191,11202,3011,744,208.0,April 8th 2014,Scribner,"Nonfiction 1307, Short Stories 766, Writing-Es...",147675361X,9781476753614,NaN,"Goodreads Choice Award for Nonfiction (2014), ..."
52197,630103,Confessions,(Private #4),Kate Brian,8815,258,4.09,3760,2734,1780,435,106,240.0,April 24th 2007,Simon Schuster Books for Young Readers,"Young Adult 182, Mystery 52, Romance 34",1416918760,9781416918769,NaN,NaN

In [19]:
type(data[data['five_star_ratings'] > 2500])

pandas.core.frame.DataFrame

In [20]:
data[data['five_star_ratings'] > 2500]['number_of_pages'].mean()

360.23779152171113

In [21]:
data[data['five_star_ratings'] > 3500]['number_of_pages'].mean()

365.10797158642464

In [22]:
data['date_published']

0         January 1st 2007
1        October 29th 2006
2         January 1st 2009
3                     1997
4        October 28th 1995
               ...
52194                 2007
52195       April 8th 2014
52196                 1961
52197      April 24th 2007
52198     January 1st 2009
Name: date_published, Length: 52199, dtype: object

In [23]:
data[data['date_published'].str.len() == 3]

,id,title,series,author,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,two_star_ratings,one_star_ratings,number_of_pages,date_published,publisher,genre_and_votes,isbn,isbn13,characters,awards
2606,7123161,"The Arabian Nights: Tales of 1001 Nights, Volu...",NaN,"testing testing, Malcolm C. Lyons, Ursula Lyon...",2942,108,4.05,1156,1029,565,131,61,982.0,800,Penguin Classics,"Classics 147, Fiction 73, Fantasy 56, Short St...",0140449388,9780140449389,"Shahryar, Scheherazade",NaN
3835,1072113,The HarperCollins Study Bible: Fully Revised &...,NaN,"Anonymous, Wayne A. Meeks, Harold W. Attridge,...",784,48,4.37,457,208,83,21,15,2208.0,393,HarperOne,"Religion 51, Religion-Christianity 17, Christi...",0060786841,9780060786847,NaN,NaN
4878,80084,Cupid and Psyche,NaN,"Apuleius, Edward John Kenney",2310,120,4.11,892,888,444,73,13,256.0,170,Cambridge University Press,"Classics 90, Fantasy-Mythology 28, Fiction 22,...",0521278139,9780521278133,NaN,NaN
5848,731140,Eusebius: The Church History,NaN,Paul L. Maier,3553,223,4.00,1309,1199,828,165,52,416.0,324,Kregel Academic & Professional,"History 376, Religion 128, Church-Church Histo...",0825433282,9780825433283,"IrenÃ¦us, Heraclas, Dionysius the Areopagite, ...",NaN
8272,9699011,Organon,NaN,"Aristotle, Giorgio Colli",210,18,4.00,81,63,53,12,1,1066.0,-40,Adelphi,"Philosophy 61, Classics 6, Philosophy-Logic 5,...",884591755X,9788845917554,NaN,NaN
8753,7495363,Ø§ÙØ³ÙØ±Ø© Ø§ÙÙØ¨ÙÙØ©,NaN,"Ø§Ø¨Ù ÙØ´Ø§Ù , Ù ØµØ·ÙÙ Ø§ÙØ³ÙØ§",1078,54,4.53,755,198,81,24,20,1109.0,833,Ø¯Ø§Ø± Ø§ÙÙ Ø¹Ø±ÙØ©,"Religion 22, Religion-Islam 16, History 12",NaN,NaN,NaN,NaN
10679,199707,Holy Bible: The Greek New Testament,NaN,"Anonymous, Barbara Aland, Kurt Aland, B.M. Met...",1806,69,4.54,1267,335,146,35,23,918.0,382,Hendrickso,"Reference 76, Religion 48, Religion-Theology 29",1598561715,9781598561715,NaN,NaN
12120,400299,Somnium Scipionis: The Dream of Scipio (Studen...,NaN,"Marcus Tullius Cicero, Gilbert Lawall",111,9,4.02,38,42,26,5,0,96.0,-51,Addison Wesley Publishing Company,"Philosophy 5, History 3",0582367514,9780582367517,NaN,NaN
12227,6403740,ÙØ±Ø¢Ù,NaN,"Anonymous, Ø­Ø³ÛÙ Ù Ø­ÛâØ§ÙØ¯ÛÙ Ø§ÙÙ...",56834,3053,4.35,41251,4562,4582,2582,3857,800.0,650,NaN,"Religion 1301, Religion-Islam 473, Nonfiction ...",NaN,NaN,"Moses (Bible), Jesus, Mary (mother of Jesus), ...",NaN
12256,12406749,ÙØ±Ø¢Ù Ú©Ø±ÛÙ,NaN,"Anonymous, Ø¹ÙÛ Ù ÙØ³ÙÛ Ú¯Ø±Ù Ø§Ø±ÙØ¯Û",56836,3053,4.35,41252,4562,4582,2582,3858,NaN,650,NaN,"Religion 1301, Religion-Islam 473, Nonfiction ...",NaN,NaN,"Moses (Bible), Jesus, Mary (mother of Jesus), ...",NaN
13721,896422,The MeghadÅ«ta of KÄlidÄsa,NaN,"KÄlidÄsa, M.R. Kale",297,24,4.16,132,98,53,10,4,208.0,400,South Asia Books,"Poetry 24, Cultural-India 5, Classics 4, Liter...",8120804201,9788120804203,NaN,NaN
14711,767642,The Lotus Sutra,NaN,"Anonymous, Burton Watson",1532,52,4.23,762,464,225,57,24,390.0,150,Columbia University Press,"Religion-Buddhism 89, Religion 44, Philosophy ...",0231081618,9780231081610,NaN,NaN
15067,25673,City of God,NaN,"Augustine of Hippo, Henry Bettenson",10124,470,3.92,3757,3113,2257,712,285,1186.0,426,Penguin Books Ltd,"Philosophy 563, Religion-Theology 435, Religio...",0140448942,9780140448948,NaN,NaN
16514,1618417,ÙÙØ¬ Ø§ÙØ¨ÙØ§ØºÙ,NaN,"Ø¹ÙÙ Ø¨Ù Ø£Ø¨Ù Ø·Ø§ÙØ¨, Ø§ÙØ´Ø±ÙÙ Ø§Ù...",1759,188,4.56,1343,223,91,42,60,596.0,800,Ø´Ø±Ú©Øª Ø§ÙØªØ´Ø§Ø±Ø§Øª Ø¹ÙÙ Û Ù ÙØ±ÙÙ...,"Religion 44, Religion-Islam 24, Nonfiction 13,...",NaN,NaN,NaN,Ú©ØªØ§Ø¨ Ø³Ø§Ù Ø¬Ù ÙÙØ±Û Ø§Ø³ÙØ§Ù Û Ø§Û...
18846,55002,The Fall of the Roman Republic,NaN,"Plutarch, Rex Warner, Robin Seager",3632,74,4.09,1424,1288,775,118,27,414.0,100,Penguin Classics,"History 258, Classics 128, Nonfiction 88, Biog...",0140449345,9780140449341,"Gnaeus Pompeius Magnus, Gaius Marius, Lucius C...",NaN
19312,4371304,Epistles Book II and Epistle to the Pisones (A...,NaN,Horace,41,0,3.88,15,11,10,5,0,NaN,-20,InquÃ©rito,"Classics 3, Poetry 2, Academic-Grad School 1user",0816111921,NaN,NaN,NaN
20559,10602457,Arte poÃ©tica,NaN,"Horace, HorÃ¡cio, Juan Gil Fernandez",327,27,3.61,63,116,110,33,5,168.0,-19,Dykinson Sl,"Poetry 23, Classics 20, Nonfiction 13, Philoso...",849849883X,9788498498837,NaN,NaN
20567,1016881,Daphnis and Chloe,NaN,"Longus, Paul Turner",2794,209,3.77,714,1017,808,205,50,128.0,150,Penguin Classics,"Classics 244, Fiction 80, Romance 65, Fantasy-...",NaN,NaN,"Daphnis, Chloe",NaN
20979,216537,Theological Tractates/The Consolation of Philo...,NaN,"Boethius, H.F. Stewart, E.K. Rand, S.J. Tester",283,26,4.23,139,86,45,10,3,457.0,524,Harvard University Press,"Philosophy 34, Religion 7, Religion-Theology 5",0674990838,9780674990838,NaN,NaN
21101,641936,The Recognition of ÅakuntalÄ,NaN,"KÄlidÄsa, W.J. Johnson",1205,90,3.84,354,435,311,82,23,192.0,400,Oxford University Press,"Plays 80, Classics 59, Cultural-India 40, Dram...",019283911X,9780192839114,NaN,NaN
21639,132876,"Satires, Epistles and Ars Poetica",NaN,"Horace, H.R. Fairclough",746,22,4.08,312,235,155,34,10,544.0,-10,Loeb Classical Library,"Poetry 51, Classics 30, Philosophy 10, Nonfict...",0674992148,9780674992146,NaN,NaN
22632,279456,Plutarch's Lives: Volume II,(ÎÎ¯Î¿Î¹ Î Î±ÏÎ¬Î»Î»Î·Î»Î¿Î¹ #2),"Plutarch, John Dryden, Arthur Hugh Clough, Jam...",2865,50,4.17,1309,901,512,118,25,706.0,100,Modern Library,"History 205, Classics 127, Biography 86, Nonfi...",0375756779,9780375756771,NaN,NaN
23553,415634,Plutarch's Lives: Volume I,(ÎÎ¯Î¿Î¹ Î Î±ÏÎ¬Î»Î»Î·Î»Î¿Î¹ #1),"Plutarch, John Dryden, Arthur Hugh Clough, Jam...",5237,151,4.09,2144,1779,1030,217,67,766.0,100,Modern Library,"History 432, Classics 249, Biography 164, Nonf...",0375756760,9780375756764,NaN,NaN
24077,766196,Commentary on the Creed of At-Tahawi: Sharh Al...,NaN,"Ibn Abil-'Izz al-Hanafee, Muhammad Abdul-Haqq ...",726,73,4.43,465,154,73,19,15,538.0,933,Imam University,"Religion-Islam 37, Religion 18, Nonfiction 6, ...",9960043231,9789960043234,NaN,NaN
26050,6998403,On the Good Life,NaN,"Marcus Tullius Cicero, Michael Grant",1825,78,4.01,651,661,408,83,22,415.0,-46,The Folio Society,"Philosophy 309, Classics 92, Nonfiction 46, Hi...",NaN,NaN,NaN,NaN
26123,563563,Sefer Yetzirah: The Book of Creation: In Theor...,NaN,"Anonymous, Aryeh Kaplan",1004,44,4.32,571,251,132,37,13,398.0,200,Red Wheel/Weiser,"Religion 30, Religion-Judaism 21, Occult 20, S...",0877288550,9780877288558,NaN,NaN
27036,6000913,The Diamond Sutra,NaN,Anonymous,810,48,4.37,476,201,100,25,8,NaN,868,NaN,"Religion-Buddhism 72, Religion 35, Philosophy ...",NaN,NaN,NaN,NaN
27861,785972,The Trinity,NaN,"Augustine of Hippo, Edmund Hill, John E. Rotelle",884,56,4.34,483,256,115,20,10,472.0,416,New City Press,"Religion-Theology 116, Philosophy 44, Religion...",0911782966,9780911782967,NaN,NaN
27863,551367,Tusculan Disputations,NaN,Marcus Tullius Cicero,263,13,4.00,92,95,62,11,3,624.0,-45,Harvard University Press,"Philosophy 41, Classics 9, Nonfiction 5, Histo...",0674991567,9780674991569,NaN,NaN
27888,561444,The Secret History,NaN,Procopius,2373,179,3.86,736,798,640,166,33,208.0,550,Penguin Classics,"History 303, Classics 72, Nonfiction 71, Histo...",0140441824,9780140441826,NaN,NaN
28288,2467557,The Essential Marcus Aurelius,NaN,"Marcus Aurelius, John Piazza, Jacob Needleman",796,58,4.37,447,229,96,18,6,111.0,180,Tarcherperigee,"Philosophy 76, Classics 15, History 15, Nonfic...",1585426172,9781585426171,NaN,NaN
30506,279461,Roman Lives: A Selection of Eight Lives (Aemil...,NaN,"Plutarch, Robin Waterfield, Philip A. Stadter",516,23,4.08,183,211,101,20,1,608.0,100,"Oxford University Press, USA","History 63, Classics 33, Nonfiction 29, Biogra...",019282502X,9780192825025,NaN,NaN
31542,382901,The Complete KÄma-SÅ«tra,NaN,"Mallanaga VÄtsyÄyana, Alain DaniÃ©lou, A.N.D...",5334,395,3.49,1287,1420,1586,684,357,564.0,300,Park Street Press,"Nonfiction 179, Classics 109, Adult Fiction-Er...",0892814926,9780892814923,NaN,NaN
33996,493005,The Nature of Things,NaN,"Lucretius, A.E. Stallings, Richard Jenkyns",11149,519,3.98,4325,3485,2365,723,251,304.0,-55,Penguin Books Ltd,"Philosophy 898, Poetry 386, Classics 381, Nonf...",0140447962,9780140447965,NaN,National Book Award Finalist for Translation (...
35610,4881794,Lettres d'amour: Les HÃ©roÃ¯des,NaN,"Ovid, Jean-Pierre NÃ©raudau, ThÃ©ophile Baudem...",2428,86,4.13,1026,817,476,86,23,332.0,-16,Gallimard,"Poetry 167, Classics 140, Fantasy-Mythology 48...",2070401537,9782070401536,Aeneas,NaN
37212,208123,The Tibetan Book of the Dead,NaN,"Padmasambhava, Karma-glin-pa, Gyurme Dorje, Gr...",7578,136,4.22,3749,2221,1255,254,99,535.0,800,Penguin Classics,"Philosophy 140, Religion 131, Religion-Buddhis...",0143104942,9780143104940,Padmasambhava,NaN
41888,646462,Ø§ÙÙØ±Ø¢Ù Ø§ÙÙØ±ÙÙ,NaN,Anonymous,56700,3053,4.35,41141,4554,4572,2577,3856,604.0,650,NaN,"Religion 1301, Religion-Islam 473, Nonfiction ...",NaN,NaN,"Moses (Bible), Abraham (Bible), Adam (Bible), ...",NaN
41896,52357,Beowulf,NaN,"Unknown, Seamus Heaney",229783,6403,3.45,48935,65009,70354,30935,14550,245.0,975,W.W. Norton & Company,"Classics 7597, Poetry 4144, Fiction 2213, Fant...",0393320979,9780393320978,"Beowulf, Grendel, Onela, Unferth, Breca, Wigla...",NaN
42258,12914,The Aeneid,NaN,"Virgil, Robert Fitzgerald",104461,2616,3.84,31796,35424,27920,7447,1874,442.0,-19,Vintage,"Classics 4347, Poetry 2125, Fiction 1031, Fant...",0679729526,9780679729525,"Venus (Goddess), Jupiter (God), Aeneas, Juno, ...",National Book Award for Translation (1973)
42478,30659,Meditations,NaN,"Marcus Aurelius, Martin Hammond, Albert Wittst...",111323,5773,4.23,55996,33444,15787,4181,1915,303.0,180,Penguin Books,"Philosophy 6807, Nonfiction 2056, Classics 201...",0140449337,9780140449334,Antoninus Pius,NaN
43229,27037,Confessions,NaN,"Augustine of Hippo, Henry Chadwick, Albert Coo...",44436,2269,3.93,16856,13763,9235,3079,1503,341.0,400,Oxford University Press,"Philosophy 1407, Classics 1094, Religion 992, ...",0192833723,9780192833723,"Augustine of Hippo, Ambrose",NaN
43899,2498952,ÙÙÙÙØ© ÙØ¯Ù ÙØ©,NaN,"Ø¹Ø¨Ø¯ Ø§ÙÙÙ Ø¨Ù Ø§ÙÙ ÙÙØ¹, Ø¹Ø¨Ø¯ Ø§Ù...",6455,629,4.10,2729,2127,1196,291,112,366.0,756,Ø¯Ø§Ø± Ø§ÙØ´Ø±ÙÙ,"Fiction 50, Literature 40, Classics 38, Short ...",NaN,NaN,"Ø¨ÙØ¯Ø¨Ø§, Ø¯Ø¨Ø´ÙÙÙ , ÙÙÙÙØ©, Ø¯Ù ÙØ©",NaN
47323,80081,The Golden Ass,NaN,"Apuleius, Jack Lindsay, Claudio Annaratone",11769,709,3.88,3628,4241,2906,811,183,256.0,170,Indiana University Press,"Classics 554, Fiction 307, Fantasy-Mythology 1...",0253200369,9780253200365,"Cupid, Psyche (mythology), Venus (Goddess), Lu...",Mikael Agricola -palkinto (1958)
48116,29022,The Twelve Caesars,(The Lives of the Twelve Caesars #1-12),"Suetonius, Michael Grant, Robert Graves",15434,589,4.06,5733,5798,3131,577,195,363.0,121,Penguin Classics,"History 1280, Classics 523, Nonfiction 385, Bi...",0140449213,9780140449211,"Nero (emperor), Caligula, Lucius Livius Ocella...",NaN
48358,24618,The Art of Living: The Classical Manual on Vir...,NaN,"Epictetus, Sharon Lebell",13483,1157,4.24,6387,4540,2019,427,110,128.0,125,HarperOne,"Philosophy 1558, Nonfiction 349, Classics 229,...",006251346X,9780062513465,NaN,NaN
48728,31837,The Consolation of Philosophy,NaN,"Boethius, Victor Watts",10994,684,3.98,4061,3677,2414,657,185,192.0,524,Penguin Classics,"Philosophy 1356, Classics 302, Nonfiction 184,...",0140447806,9780140447804,Eurydice,NaN
50242,75586,The TÃ¡in: From the Irish Epic TÃ¡in BÃ³ CÃºai...,NaN,"Anonymous, Thomas Kinsella, Louis Le Brocquy",3533,250,3.97,1201,1299,798,179,56,282.0,900,Oxford University Press,"Fantasy-Mythology 156, Classics 133, Cultural-...",0192803735,9780192803733,"Ailill mac MÃ¡ta, Amergin mac Eccit, Bricriu, ...",NaN
50541,592167,The Conquest of Gaul,NaN,"Gaius Julius Caesar, S.A. Handford, Jane F. Ga...",8534,408,4.00,2978,3145,1905,420,86,269.0,-50,Penguin Classics,"History 763, Classics 282, Nonfiction 202, His...",0140444335,9780140444339,"Vercingetorix, Julius Caesar",NaN
51056,26252,The Enneads,NaN,"Plotinus, Stephen MacKenna, John M. Dillon",2715,54,4.05,1186,759,550,159,61,688.0,250,Penguin Classics,"Philosophy 367, Classics 56, Nonfiction 27, Re...",014044520X,9780140445206,NaN,NaN
51235,3679100,Parallel Lives,NaN,"Plutarch, Arthur Hugh Clough, John Dryden",1430,68,4.12,613,478,258,63,18,1309.0,100,Modern Library,"History 167, Classics 104, Biography 75, Nonfi...",0394604075,9780394604077,NaN,NaN

In [24]:
len(data[data['date_published'].str.len() == 3])

50

In [25]:
df = data[data['date_published'].str.len() > 3]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51279 entries, 0 to 52198
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  51279 non-null  int64
 1   title               51279 non-null  object
 2   series              23051 non-null  object
 3   author              51279 non-null  object
 4   rating_count        51279 non-null  int64
 5   review_count        51279 non-null  int64
 6   average_rating      51279 non-null  float64
 7   five_star_ratings   51279 non-null  int64
 8   four_star_ratings   51279 non-null  int64
 9   three_star_ratings  51279 non-null  int64
 10  two_star_ratings    51279 non-null  int64
 11  one_star_ratings    51279 non-null  int64
 12  number_of_pages     49615 non-null  float64
 13  date_published      51279 non-null  object
 14  publisher           48330 non-null  object
 15  genre_and_votes     48647 non-null  object
 16  isbn                39983 non-null  object
 17  isbn13              39212 non-null  object
 18  characters          13634 non-null  object
 19  awards              10601 non-null  object
dtypes: float64(2), int64(8), object(10)
memory usage: 8.2+ MB

In [27]:
df['date_published'].str.extract(r'(\d{4})')

          0
0      2007
1      2006
2      2009
3      1997
4      1995
...     ...
52194  2007
52195  2014
52196  1961
52197  2007
52198  2009

[51279 rows x 1 columns]

In [29]:
df['year_published'] = df['date_published'].str.extract(r'(\d{4})')

C:\Users\UD\AppData\Local\Temp\ipykernel_44264\843431748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year_published'] = df['date_published'].str.extract(r'(\d{4})')

In [30]:
import numpy as np
df['year_published'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
52194    False
52195    False
52196    False
52197    False
52198    False
Name: year_published, Length: 51279, dtype: bool

In [31]:
df[df['year_published'].isna()]

,id,title,series,author,rating_count,review_count,average_rating,five_star_ratings,four_star_ratings,three_star_ratings,two_star_ratings,one_star_ratings,number_of_pages,date_published,publisher,genre_and_votes,isbn,isbn13,characters,awards,year_published
163,901111,Tanakh: The Holy Scriptures,NaN,"Anonymous, Jewish Publication Society",2736,100,4.38,1684,598,319,85,50,1624.0,-450,The Jewish Publication Society,"Religion 129, Religion-Judaism 72, Literature-...",0827603665,9780827603660,NaN,NaN,NaN
255,534289,The I Ching or Book of Changes,NaN,"Anonymous, Richard Wilhelm, Cary F. Baynes, C....",17694,352,4.19,8676,4991,3076,698,253,740.0,-850,Princeton University Press,"Philosophy 420, Religion 164, Nonfiction 154, ...",069109750X,9780691097503,NaN,NaN,NaN
475,18008226,Nathaniel's 1st Adventure,(Cosmic Aviators #1),G.E.F. Neilson,42,22,4.33,28,5,6,1,2,332.0,June 14th 1,Buzzword Press,"Childrens 1user, Childrens-Middle Grade 1user,...",NaN,NaN,NaN,NaN,NaN
512,23277468,World Peace: The Voice of a Mountain Bird,NaN,"Amit Ray, Banani Ray",107,9,4.62,79,21,4,0,3,164.0,September 9th 214,Inner Light Publishers,"Inspirational 14, Spirituality 9, Self Help 8,...",NaN,NaN,NaN,NaN,NaN
736,27297,The Analects,NaN,"Confucius, D.C. Lau",17045,660,3.83,5329,5555,4470,1299,392,249.0,-429,Penguin Books Ltd,"Philosophy 1445, Classics 469, Nonfiction 378,...",0140443487,9780140443486,NaN,J. A. Hollon palkinto (2015),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49659,159964,The Dhammapada,NaN,"Anonymous, Ananda Maitreya, Thich Nhat Hanh",22062,887,4.28,11751,6167,3136,682,326,114.0,January 30th -400,Parallax Press,"Religion-Buddhism 571, Religion 519, Philosoph...",0938077872,9780938077879,NaN,NaN,NaN
49706,380609,The Bacchae,NaN,"Euripides, Kenneth McLeish, Frederic Raphael",13823,634,3.89,4356,4876,3504,858,229,96.0,-405,Nick Hern Books,"Plays 669, Classics 639, Drama 262, Fantasy-My...",1854594117,9781854594112,"Dionysus (mythology), Pentheus, Cadmus (mythol...",NaN,NaN
49746,4934651,Fe Fi FOE Comes,NaN,William C. Samples,19,8,4.37,11,5,2,1,0,869.0,May 25th 201,Vel North Editions,Philosophy 2,098006810X,9780980068108,NaN,NaN,NaN
49888,821535,The Torah: The Five Books of Moses,NaN,"Anonymous, Harry M. Orlinsky",1587,100,4.18,895,308,224,93,67,394.0,-400,The Jewish Publication Society,"Religion 128, Religion-Judaism 30, Philosophy ...",0827600151,9780827600157,NaN,NaN,NaN
52138,168487,The Persian Expedition,NaN,"Xenophon, Rex Warner, H.G. Dakyns, George Cawk...",6246,334,4.09,2466,2223,1265,230,62,375.0,-390,Penguin Classics,"History 509, Classics 212, Nonfiction 137, War...",0140440070,9780140440072,NaN,NaN,NaN

In [32]:
df[df['year_published'].isna()].index

Int64Index([  163,   255,   475,   512,   736,  2692,  3397,  4726,  5335,
             5719,  5973,  6115,  6462,  6909,  7208,  7508,  8340,  8826,
             9226, 10806, 12068, 12484, 12549, 12764, 14486, 14565, 15712,
            16012, 16038, 16634, 17160, 17896, 19630, 21406, 21473, 25820,
            26070, 26879, 28973, 31663, 32484, 32791, 33071, 34517, 34624,
            35620, 36093, 36277, 36449, 37004, 37078, 37432, 38494, 41070,
            41572, 41751, 41918, 42036, 42154, 42194, 42319, 42447, 42457,
            42517, 42812, 43039, 43055, 43095, 43779, 43793, 43883, 44323,
            44734, 45027, 45488, 45545, 45676, 46013, 46480, 47804, 48251,
            48630, 49272, 49323, 49659, 49706, 49746, 49888, 52138],
           dtype='int64')

In [33]:
df = df.drop(df[df['year_published'].isna()].index)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51190 entries, 0 to 52198
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  51190 non-null  int64
 1   title               51190 non-null  object
 2   series              23034 non-null  object
 3   author              51190 non-null  object
 4   rating_count        51190 non-null  int64
 5   review_count        51190 non-null  int64
 6   average_rating      51190 non-null  float64
 7   five_star_ratings   51190 non-null  int64
 8   four_star_ratings   51190 non-null  int64
 9   three_star_ratings  51190 non-null  int64
 10  two_star_ratings    51190 non-null  int64
 11  one_star_ratings    51190 non-null  int64
 12  number_of_pages     49530 non-null  float64
 13  date_published      51190 non-null  object
 14  publisher           48246 non-null  object
 15  genre_and_votes     48562 non-null  object
 16  isbn                39911 non-null  object
 17  isbn13              39140 non-null  object
 18  characters          13604 non-null  object
 19  awards              10593 non-null  object
 20  year_published      51190 non-null  object
dtypes: float64(2), int64(8), object(11)
memory usage: 8.6+ MB

In [35]:
df['year_published'] = df['year_published'].astype(int)

In [36]:
dfgby = df.groupby('year_published')

In [37]:
type(dfgby)

pandas.core.groupby.generic.DataFrameGroupBy

In [38]:
len(dfgby)

449

In [39]:
for year, sub_df in dfgby:
    if year == 2009:
        print(sub_df)

            id                                              title  \
2      6050894                                           Take Two
35     6419887  The Boy Who Harnessed the Wind: Creating Curre...
58     5498077                                  Code of the Clans
66     6556261                                      Hell's Heroes
97     3942622                                The Immortal Hunter
...        ...                                                ...
52079  4010795                                           Take One
52088  7145565                                   Flaskepost fra P
52127  6566616                                    Crocodile Tears
52153  4067103                                    Ransom My Heart
52198  6922622                      Going Rogue: An American Life

                           series                                     author  \
2             (Above the Line #2)                            Karen Kingsbury
35                            NaN            William Kamkwamba, Bryan Mealer
58     (Warriors: Field Guide #3)              Erin Hunter, Wayne McLoughlin
66             (The Demonata #10)               Darren Shan, Richard PodanÃ½
97                 (Argeneau #11)                               Lynsay Sands
...                           ...                                        ...
52079         (Above the Line #1)                            Karen Kingsbury
52088             (Afdeling Q #3)                          Jussi Adler-Olsen
52127             (Alex Rider #8)                           Anthony Horowitz
52153      (The Princess Diaries)                 Meg Cabot, Mia Thermopolis
52198                         NaN  Sarah Palin, Lynn Vincent, Dewey Whetsell

       rating_count  review_count  average_rating  five_star_ratings  \
2              6288           218            4.23               3000
35            20578          3332            4.11               7843
58             5973           113            4.20               3072
66             7852           280            4.28               4245
97            13973           357            4.22               6412
...             ...           ...             ...                ...
52079          7869           338            4.20               3652
52088         28164          1734            4.02               9448
52127         28521           870            4.19              12722
52153          7210           515            3.74               2207
52198         11359          1246            3.28               2379

       four_star_ratings  three_star_ratings  two_star_ratings  \
2                   2020                1041               183
35                  8366                3461               653
58                  1471                1065               305
66                  2063                1138               294
97                  4696                2437               366
...                  ...                 ...               ...
52079               2536                1346               241
52088              12220                4820              1019
52127               9767                4879               919
52153               2169                1848               700
52198               3085                2921              1262

       one_star_ratings  number_of_pages       date_published  \
2                    44            320.0     January 1st 2009
35                  255            270.0  September 29th 2009
58                   60            156.0        June 1st 2009
66                  112            256.0     January 1st 2009
97                   62            360.0      March 31st 2009
...                 ...              ...                  ...
52079                94            352.0    January 28th 2009
52088               657            494.0                 2009
52127               234            385.0    November 1st 2009
52153               286            396.0     January 6th 2009
52198              1712            413.0     January 1st 2009

                       publisher  \
2                      Zondervan
35                William Morrow
58                 HarperCollins
66                 Harpercollins
97                          Avon
...                          ...
52079                  Zondervan
52088          Politikens forlag
52127             Philomel Books
52153  William Morrow Paperbacks
52198                     Harper

                                         genre_and_votes        isbn  \
2        Christian Fiction 174, Christian 81, Fiction 58         NaN
35     Nonfiction 732, Cultural-Africa 289, Autobiogr...  0061730327
58                                Fantasy 84, Animals 45  0061660094
66     Horror 167, Fantasy 138, Young Adult 102, Fict...  0007260350
97     Romance-Paranormal Romance 326, Paranormal-Vam...  0061474304
...                                                  ...         ...
52079   Christian Fiction 209, Christian 111, Fiction 81  0310266165
52088  Mystery 368, Mystery-Crime 303, Thriller 245, ...  8756787650
52127  Young Adult 301, Adventure 170, Fiction 133, A...  0399250565
52153  Romance 303, Historical-Historical Fiction 161...  006170007X
52198  Biography 176, Nonfiction 171, Politics 165, B...  0061939897

              isbn13                                         characters  \
2                NaN                                                NaN
35     9780061730320                                                NaN
58     9780061660092                                                NaN
66     9780007260355                                                NaN
97     9780061474309      Decker Argeneau Pimms, Danielle 'Dani' McGill
...              ...                                                ...
52079  9780310266167                                                NaN
52088  9788756787659                                        Carl MÃ¸rck
52127  9780399250569  Alex Rider, Alan Blunt, Jack Starbright, Smith...
52153  9780061700071                    Finnula Crais, Hugo Fitzstephen
52198  9780061939891  Joe Biden, Sarah Palin, Glenn Beck, Katie Cour...

                                                  awards  year_published
2                                                    NaN            2009
35     ALA Alex Award (2010), Corine Internationaler ...            2009
58                                                   NaN            2009
66                                                   NaN            2009
97                                                   NaN            2009
...                                                  ...             ...
52079                                                NaN            2009
52088  Barry Award Nominee for Best Novel (2014), Gla...            2009
52127                                                NaN            2009
52153                                                NaN            2009
52198                                                NaN            2009

[2040 rows x 21 columns]

In [40]:
dfgby['three_star_ratings'].mean()

year_published
1000      98.000000
1001      58.000000
1002    1241.000000
1008    2858.500000
1010     343.000000
           ...
2017    2486.990654
2018    2477.068063
2019    1557.872564
2020     711.016393
2021       2.600000
Name: three_star_ratings, Length: 449, dtype: float64

In [41]:
dfgby['five_star_ratings'].apply(np.sum, axis=0)

year_published
1000       1316
1001        144
1002       4348
1008       5634
1010       2777
         ...
2017    6936643
2018    5733865
2019    2571860
2020     369304
2021         87
Name: five_star_ratings, Length: 449, dtype: int64

#### Иерархические индексы (MultiIndex)
Иерархические индексы позволяют организовать несколько (два и более) уровней индексирования по одной оси. Другими словави, это способ работать с многомерными данными, представив их в форме с меньшей размерностью.

In [42]:
# сгенерируем series с multiindex
data = pd.Series(np.random.randn(10),
    index= [ ['a', 'a', 'a', 'b', 'b', 'b', 'с', 'с', 'd', 'd'],
             [1, 2, 3, 1, 2, 3, 1, 2, 2, 3] ]
)
data

a  1    1.356692
   2    0.088859
   3   -0.356695
b  1   -0.194693
   2    0.540608
   3    0.411115
с  1   -0.320749
   2   -0.678913
d  2   -0.916482
   3   -0.017339
dtype: float64

In [43]:
# сгенерируем dataframe с multiindex
data = pd.DataFrame(np.random.randn(10,2),
    index= [ ['a', 'a', 'a', 'b', 'b', 'b', 'с', 'с', 'd', 'd'],
             [1, 2, 3, 1, 2, 3, 1, 2, 2, 3] ]
)
data

            0         1
a 1 -0.655298  1.006986
  2 -0.097158  2.533893
  3 -0.029816 -0.881194
b 1  0.274910  0.030572
  2 -1.695260 -0.668592
  3 -0.380139 -1.126129
с 1 -0.583916  0.752118
  2 -0.839837  0.255941
d 2  1.247775 -0.821145
  3 -0.166916 -0.078317

In [44]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('с', 1),
            ('с', 2),
            ('d', 2),
            ('d', 3)],
           )

In [45]:
# доступ по частичному значению индекса
data.loc['a']

          0         1
1 -0.655298  1.006986
2 -0.097158  2.533893
3 -0.029816 -0.881194

In [46]:
# доступ по полному значению индекса
data.loc[('a', 1)]

0   -0.655298
1    1.006986
Name: (a, 1), dtype: float64

In [47]:
# Можно даже сразу получить значение поля
data.loc[('a', 1), 1]

1.0069857656037364

### 1.3 Предобработка данных

Предобработка данных — это предварительный этап работы с данными, цель которого - почистить данные от ненужного или дополнить их. Может включать в себя центрирование, нормализацию, сдвиг, вращение, обрезку.

#### Виды проблем в данных

- **Неполные данные**  
  Заказчик выслал не все данные, в них есть пропуски, нет данных за определённый период, есть данные только для части задач. Например, есть рейсы только одной авиакомпании, есть суммы покупок с января по март и с июня по декабрь.
- **Грязные данные**
   - данные в плохом или разном формате;
   - в данных есть мусор, например, смешиваются русские и английские буквы, данные в виде шифра;
   - разные меры данных, например, часть в метрах, часть в футах;
   - данные старые, значения признака перемешиваются.
- **Плохая разметка**
   - в данных есть ошибки;
   - разная оценка данных из-за человеческого фактора;
   - разметка не соответствует реальности;
   - размеченных данных очень много — должна быть «золотая середина».
  
> Чем лучше хотите получить разметку, тем больше времени придётся потратить.

- **Данные с утечкой**  
  В данных нужно избегать признаков, от которых явно зависит целевая переменная. Такая ситуация приводит к тому, что во время обучения модель всё предсказывает, но в боевых условиях бесполезна.

#### Работа с пропусками

**Пропуски** — отсутствие значений в данных. Обычно это случается из-за ошибок человека:
- забыли, какие данные не внесли;
- не всё перенесли из другого документа;
- неверно заполнили документ;
- случайно удалили часть данных.

Например, при опросе респонденты отвечали только на часть вопросов, не указывая какие-то данные.

##### Что делать с пропусками?

- **Удалить пропуски**: удалить строки с пропусками, если таких строк немного, или столбцы (признаки) в данных, если их много, и это не повлияет на результат в целом.
- **Заменить пропуски**: заменить на среднее значение (медианой) или на самый часто попадающийся вариант. Например, опрос респондентов проходил в Москве, вероятнее, большинство — жители города, а не туристы. Значит, в графе город можно поставить «Москва». Или же по другим данным в документе можно восстановить пол людей, которые его не указали.
- **Записать новое значение**: например, вместо пропуска в столбце «Пол» указать «не определён».
- **Заменить алгоритмами МО**: признак можно считать целевой переменной и обучать модель, чтобы предсказать пропущенные значения.лезна.

#### Нормализация признаков
Некоторые алгоритмы чувствительны к масштабу признаков: если масштаб разный — алгоритмы хуже сходятся к оптимальным значениям. Один из способов обработки данных — **нормализация** — процесс приведения данных к одному масштабу, обеспечивает лучшие условия выборки, изменения, удаления данных.

Базовые методы нормализации:

- **MinMax** нормализация — приведение данных к масштабу $[0, 1]$.
- **Стандартная** нормализация — данные имеют среднее 0 и стандартное отклонение 1.
Иногда данные лучше удалить, если они не несут пользы. Например, столбец считался по ошибке и содержит мусор, или признак не имеет полезной информации, или столбец содержит всегда одинаковое значение.ачение.

#### Преобразование признаков, имеющих не нормальное распредление

Один из способов визуализации — **гистограмма** — вид диаграммы, показывающий данные в форме столбцов. Демонстрирует распределение данных по выборке внутри столбца и значений в признаке. Позволяет увидеть проблемы или некорректные значения в данных, преобразовать их в наглядную форму и распределить, чтобы облегчить работу.

**Графики Q-Q (квантиль-квантиль)** сравнивают два распределения вероятностей путем построения совместных квантилей. График Q-Q используется для сравнения форм распределений, обеспечивая графическое представление того, насколько подобны или различны положение, масштаб и асимметрия двух распределений.

Многие алгоритмы работают лучше, когда на вход принимают нормально распределённые данные. Один из способов сделать данные «нормальными» — взять **логарифм**. При этом не должно быть значений, равных 0, иначе метод `np.log` выдаст бесконечность.  
Если значения всё-таки начинаются с 0, то перед тем, как взять логарифм, можно прибавить к данным 1.  
Другой способ — взять квадратный корень от данных.

#### Скореллированные признаки

**Correlation plot** — корреляционный график. Признаки в данных могут иметь сильную корреляцию, то есть линейную зависимость. Если зависимость большая, признаки несут избыточную информацию, поэтому скореллированные признаки лучше удалять.

#### Поиск выбросов (outliers)

**Выброс** — результат измерения, который выделяется из общей выборки. Выбросы появляются из-за ошибок в данных и сильно выделяются среди остальных значений. Их нужно искать и удалять, иначе данные будут подстраиваться под них и давать неверный результат.

Как искать выбросы:
- **Поиск и удаление по порогу**
  Способ нахождения выбросов, основанный на здравом смысле и методе пристального взгляда. Посмотреть на данные и поискать невозможные и/или нелогичные значения, например, в столбце «высота здания» стоит 30 км.
- **Поиск с помощью статистики**  
  Поиск с помощью здравого смысла трудно автоматизировать, поэтому эффективнее статистические методы. Например, поиск по отклонению или по распределению IQR (interquartile range, межквартильное расстояние).
- **Поиск с помощью DBSCAN**
  Поиск с помощью методов кластеризации, один из таких методов — DBSCAN, который может автоматически находить шум в данных.  
Разные способы поиска выбросов могут давать разные результаты. Не всегда выделяющееся значение будет являться выбросом, возможно, у нас пока просто не хватает данных.ет данных.

#### Создание новых признаков - feature engineering

**Feature Engineering** — способ создания признаков, техника решения задач МО, которая увеличивает качество разрабатываемых алгоритмов. Превращает специфичные данные в понятные для модели векторы.

Способы:
- **Ручное создание признаков**  
  Новые признаки можно создавать на основе имеющихся, если понятно, что означает тот или иной признак. Техника может значительно улучшить модель, но требуется погружение в предметную область. Например, зная массу и рост человека, можно посчитать индекс массы тела; зная координаты места нарушения ПДД и центра города, можно посчитать расстояние между ними.
- **Полиномиальные признаки**  
  Например, попарное перемножение имеющихся столбцов, чтобы получить нелинейные комбинации признаков. Другой пример — возведение признаков в квадрат или корень из признака, чтобы получить искусственные признаки.
- **Dummy-переменные**  
  Между категориальными признаками не всегда есть порядок, поэтому их следует заменять на dummy-переменные, в виде цифр, чтобы алгоритм подумал, что в данных есть порядок.
  > Например, лев, тигр, медведь лучше записать как 0, 1, 2. Расстояние между «лев» и «тигр» равно 1, а между «лев» и «медведь» — 2, хотя это не так. Решение — создать новые признаки по количеству категорий. Для признака «лев» значение будет 1, если это лев, иначе 0. Теперь расстояния между всеми признаками равны 1.
- **Работа с датой/временем**  
  Обычно дата — это строка, похожая на «2005-06-02». В таком виде признак имеет мало смысла, но его можно разделить на набор других признаков. Модель не принимает текст, поэтому заменяем его на набор других числовых признаков. Например, день, месяц, год или день недели, праздник/выходной.
- **Статистики по наборам признаков**  
  Если в данных есть признаки, описывающие значение в разные моменты времени, то они могут быть полезными. Например, зарплата_2016, зарплата_2017, зарплата_2018. Отсюда можно вытащить среднюю зарплату за 3 года, медианную зарплату, динамику зарплаты, максимальную и минимальную зарплату.ную зарплату.